table.configuration{
	width: 95%;	
	background: white;
}

table.configuration td{
	padding: 5px;	
	
}

table.configuration td.caption{
	width:1%;
	white-space: nowrap;	
	padding-left: 10px;
	color: #2f464a;
}

input.wide {
	width: 100%;
}

select.wide{
	width: 100%;	
}

select.wide option{
	font: 11px Tahoma;
}

input[type=text], select, textarea {
	font: 12px Tahoma;
}


textarea.wisywig{
	width: 100%;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}