/* -- Form Styles ------------------------------- */


.file_group div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
.file_group div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

.file_group div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #D9E4FF;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}

.file_group button,
.file_group input,
.file_group select,
.file_group textarea { 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
}



.file_group input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


.file_group label { 
	width: 150px; 
	text-align: right; 
	display:block;
	margin-right: 5px;
}

.file_group #btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
.file_group td {
	font: 10pt Helvetica, Arial, sans-serif;
	vertical-align: top;
}

.file_group .progressWrapper {
	width: 357px;
	overflow: hidden;
}

.file_group .progressContainer {
	margin: 5px 0px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.file_group .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.file_group .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.file_group .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.file_group .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.file_group .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.file_group .progressBarInProgress,
.file_group .progressBarComplete,
.file_group .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.file_group .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.file_group .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.file_group .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

.file_group a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/CORE/forms/file_group/swfupload/img/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

.file_group a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.file_group .swfupload {
	vertical-align: top;
}