@charset "UTF-8";
/* line 3, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
p {
  margin: 0 0 11px;
  line-height: 20px; }

/* line 8, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
a {
  color: #ac8957; }

/* line 12, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 38px;
  position: relative;
  margin: 0; }

/* line 22, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
.breadcrumbs + h1 {
  padding: 6px 0 25px; }

/* line 27, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
.okh1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 30px;
  position: relative;
  margin: 0; }

/* line 36, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 300; }

/* line 42, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
h3 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 0; }

/* line 49, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 18px 0; }

/* line 56, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
blockquote {
  margin: 30px 0;
  padding: 20px 40px 20px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  text-align: center; }
  /* line 62, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  blockquote:after {
    position: absolute;
    content: ''; }

/* line 69, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
ul {
  margin: 20px 0; }
  /* line 71, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  ul li {
    overflow: hidden;
    position: relative;
    padding-left: 60px; }
    /* line 75, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    ul li + li {
      margin-top: 10px; }
    /* line 78, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    ul li:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 5px;
      left: 20px;
      top: 6px;
      background: #4366ab; }

/* line 91, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
ol {
  list-style-image: none;
  list-style-type: none;
  margin: 30px 0;
  counter-reset: item; }
  /* line 96, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  ol > li {
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 20px; }
    /* line 101, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    ol > li + li {
      margin-top: 6px; }
    /* line 104, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    ol > li:before {
      content: counters(item, "") ". ";
      counter-increment: item;
      position: absolute;
      font-style: normal;
      top: 0;
      color: #e42839;
      left: 4px;
      width: 30px; }

/* line 118, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
.table {
  margin: 30px 0;
  width: 100%; }
  /* line 121, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  .table p {
    margin: 0; }
  /* line 124, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  .table th {
    text-align: left;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom: 3px solid #e42839;
    border-right: 1px solid #dddddd; }
    /* line 130, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    .table th:last-child {
      border-right: none; }
  /* line 134, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
  .table td {
    padding: 10px 20px;
    color: #333;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
    /* line 139, C:/Users/Romeo/Desktop/Давыдов/css/content.scss */
    .table td:last-child {
      border-right: none; }

/*# sourceMappingURL=content.css.map */