@import "mixins.scss";

p {
  margin: 0 0 11px;
  line-height: 20px;
}

a {
  color: #ac8957;
}

h1{
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 38px;
  position: relative;
  margin: 0;
}

.breadcrumbs{
  +h1{
    padding: 6px 0 25px;
  }
}

.okh1{
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 30px;
  position: relative;
  margin: 0;
}

h2{
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
}

h3{
  font-size: 22px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 0;
}

h4{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 18px 0;
}

blockquote {
  margin: 30px 0;
  padding: 20px 40px 20px;
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
  text-align: center;
  &:after {
    position: absolute;
    content: '';
  }
}


ul {
  margin: 20px 0;
  li {
    overflow: hidden;
    position: relative;
    padding-left: 60px;
    +li {
      margin-top: 10px;
    }
    &:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 5px;
      left: 20px;
      top: 6px;
      background: #4366ab;
    }
  }
}

ol {
  list-style-image: none;
  list-style-type: none;
  margin: 30px 0;
  counter-reset: item;
  >li {
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    +li {
      margin-top: 6px;
    }
    &:before {
      content: counters(item, "") ". ";
      counter-increment: item;
      position: absolute;
      font-style: normal;
      top: 0;
      color: #e42839;
      left: 4px;
      width: 30px;
    }
  }
}


.table {
  margin: 30px 0;
  width: 100%;
  p {
    margin: 0;
  }
  th {
    text-align: left;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom:3px solid #e42839;
    border-right:1px solid #dddddd;
    &:last-child{
      border-right:none;
    }
  }
  td {
    padding: 10px 20px;
    color: #333;
    border-bottom:1px solid #dddddd;
    border-right:1px solid #dddddd;
    &:last-child{
      border-right:none;
    }
  }
}