@charset "UTF-8";
/* line 3, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 14px/20px 'Open Sans', sans-serif;
  color: #222222;
  min-width: 1240px;
  background: #ffffff; }

/* line 16, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.rootWrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  /* line 22, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .rootWrap header,
  .rootWrap main,
  .rootWrap footer {
    display: table-row;
    height: 1px; }
  /* line 28, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .rootWrap main {
    height: 100%; }

/* line 33, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.centerWrap {
  width: 1200px;
  margin: 0 auto; }

/* line 38, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.footerTopMargin {
  height: 40px; }

/* line 42, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.callback {
  width: 230px;
  margin-top: 20px; }
  /* line 45, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .callback a {
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    background: #ac8958;
    background: -moz-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: -webkit-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: linear-gradient(to right, #ac8958 0%, #caa166 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 ); }
    /* line 56, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .callback a:hover {
      background: #c9a066; }

/* line 62, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.header-middle {
  line-height: 20px;
  height: 120px; }
  /* line 3, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/mixins.scss */
  .header-middle:after {
    clear: both;
    content: '';
    display: table; }
  /* line 66, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .centerWrap > div {
    display: inline-block;
    vertical-align: middle; }
  /* line 70, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .logo {
    margin-top: 19px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 130px; }
    /* line 75, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .header-middle .logo span img, .header-middle .logo a img {
      vertical-align: top; }
  /* line 80, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .slogan {
    position: relative;
    margin-top: 15px;
    width: 115px;
    margin-left: 17px;
    margin-right: 120px;
    font-style: italic;
    color: #ab8957; }
    /* line 88, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .header-middle .slogan > span {
      color: #888888; }
  /* line 93, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .header-phone {
    width: 190px;
    position: relative;
    margin-top: 20px; }
    /* line 97, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .header-middle .header-phone:before {
      content: '';
      position: absolute;
      top: 0;
      left: -70px;
      background: url(../images/tel.png) no-repeat;
      width: 40px;
      height: 40px; }
    /* line 106, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .header-middle .header-phone a {
      text-decoration: none;
      color: #333333; }
      /* line 107, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .header-phone a:hover {
        cursor: default; }
      /* line 110, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .header-phone a:first-child {
        font-size: 24px; }
      /* line 113, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .header-phone a:last-child {
        border-bottom: 1px dotted #ab8957;
        color: #ab8957; }
        /* line 116, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .header-middle .header-phone a:last-child:hover {
          border-bottom: none;
          cursor: pointer; }
      /* line 123, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .header-phone a > span {
        color: #ab8957; }
  /* line 129, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .callback {
    margin: 15px 32px 0 26px; }
  /* line 133, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .header-middle .addr {
    margin-top: 13px;
    width: 324px; }
    /* line 136, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .header-middle .addr div {
      display: inline-block;
      vertical-align: middle; }
      /* line 139, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .addr div:first-child {
        width: 75px;
        margin-right: 5px; }
      /* line 143, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .header-middle .addr div.citys {
        width: 240px;
        overflow: hidden; }
        /* line 146, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .header-middle .addr div.citys a, .header-middle .addr div.citys span {
          display: inline-block;
          color: #ab8957;
          text-decoration: none;
          border-bottom: 1px dotted #ab8957;
          margin-right: 20px;
          position: relative;
          line-height: 15px; }
          /* line 154, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .header-middle .addr div.citys a:hover, .header-middle .addr div.citys span:hover {
            border: none; }
          /* line 157, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .header-middle .addr div.citys a:last-child, .header-middle .addr div.citys span:last-child {
            margin-right: 0; }
          /* line 160, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .header-middle .addr div.citys a:before, .header-middle .addr div.citys span:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -15px;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: #ab8957; }
        /* line 171, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .header-middle .addr div.citys span {
          border-bottom: 1px dotted transparent; }

/* line 179, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.header-bottom {
  background: #394986;
  border-radius: 8px 8px 0 0; }

/* line 185, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.main-menu > span {
  display: inline-block;
  width: 2px;
  margin: 0 24px;
  position: relative; }
  /* line 190, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > span > span {
    width: 1px;
    display: table-cell;
    background: #5c7ffa;
    height: 10px;
    left: 0;
    top: 24px;
    position: relative; }

/* line 200, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.main-menu > div {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center; }
  /* line 205, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > div > a, .main-menu > div > span {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 25px 0;
    display: block; }
  /* line 212, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > div > span {
    color: #ab8957; }
  /* line 215, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > div .submenu {
    width: 250px;
    display: none;
    background: #ffffff;
    position: absolute;
    z-index: 2;
    text-align: left;
    line-height: 18px;
    border-radius: 10px;
    padding: 10px 0; }
    /* line 225, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .main-menu > div .submenu:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      top: -8px;
      left: 16px; }
    /* line 236, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .main-menu > div .submenu > div {
      padding: 10px 25px;
      border-bottom: 1px solid #d6d6d6; }
      /* line 239, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .main-menu > div .submenu > div:last-child {
        border-bottom: none; }
      /* line 242, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .main-menu > div .submenu > div > a, .main-menu > div .submenu > div span {
        font-size: 14px;
        color: #333;
        display: block;
        text-decoration: none; }
        /* line 247, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .main-menu > div .submenu > div > a:hover, .main-menu > div .submenu > div span:hover {
          color: #3e5296; }
      /* line 251, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .main-menu > div .submenu > div span {
        color: #3e5296; }
  /* line 257, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > div:hover > a {
    color: #90a2e5; }
  /* line 260, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .main-menu > div:hover .submenu {
    display: block; }

/* line 269, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.breadcrumbs nav > div {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0;
  position: relative; }
  /* line 274, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .breadcrumbs nav > div + div {
    margin-left: 19px; }
    /* line 276, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .breadcrumbs nav > div + div:before {
      content: '';
      position: absolute;
      top: 12px;
      background: url(../images/breadcrumb.png) no-repeat;
      width: 6px;
      height: 6px;
      left: -15px; }
  /* line 286, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .breadcrumbs nav > div a {
    color: #ab8957;
    font-style: italic; }
  /* line 290, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .breadcrumbs nav > div span {
    font-style: italic;
    color: #888888; }

/* line 298, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.seoText {
  padding: 30px 0 40px; }
  /* line 300, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .seoText a {
    color: #465caa; }

/* line 305, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.footer {
  padding: 19px 0;
  display: flex;
  background: #5e5344; }
  /* line 309, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .footer .copy {
    float: left;
    color: #fff; }
    /* line 312, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .footer .copy > span {
      color: #b18e5a; }
  /* line 316, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .footer .company {
    float: right;
    color: #ffffff; }

/* line 322, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.pre_footer {
  padding: 52px 0 40px;
  background: #7a6a54;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  /* line 328, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .pre_footer:before {
    content: '';
    position: absolute;
    left: -55px;
    top: 30px;
    background: url(../images/footer_decore.png) no-repeat;
    width: 339px;
    height: 401px;
    z-index: -1; }
  /* line 339, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .pre_footer .centerWrap > div {
    display: inline-block;
    vertical-align: top; }
  /* line 343, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .pre_footer .centerWrap .first_leftMenu {
    width: 220px;
    margin-right: 36px; }
    /* line 346, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .first_leftMenu a, .pre_footer .centerWrap .first_leftMenu span {
      display: block;
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px; }
      /* line 353, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .first_leftMenu a:hover, .pre_footer .centerWrap .first_leftMenu span:hover {
        text-decoration: underline; }
    /* line 357, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .first_leftMenu span {
      text-decoration: underline; }
  /* line 362, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .pre_footer .centerWrap .second_infoBlock {
    width: 285px;
    margin-right: 50px; }
    /* line 365, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .second_infoBlock .number {
      padding: 7px 40px 15px 58px; }
      /* line 367, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .second_infoBlock .number a {
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        position: relative; }
        /* line 372, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .second_infoBlock .number a:hover {
          cursor: default; }
        /* line 375, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .second_infoBlock .number a:before {
          content: '';
          position: absolute;
          top: -4px;
          left: -58px;
          background: url(../images/footer_phone.png) no-repeat;
          width: 40px;
          height: 40px; }
    /* line 386, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .second_infoBlock .city {
      margin: 10px 0 16px; }
      /* line 388, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .second_infoBlock .city table {
        width: 100%; }
        /* line 391, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .second_infoBlock .city table tr td {
          color: #ffffff;
          padding: 5px 0; }
          /* line 394, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .pre_footer .centerWrap .second_infoBlock .city table tr td:first-child {
            text-align: left; }
          /* line 397, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .pre_footer .centerWrap .second_infoBlock .city table tr td:last-child {
            text-align: right; }
    /* line 404, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .second_infoBlock .mail_block {
      margin: 10px 0 15px; }
      /* line 406, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .second_infoBlock .mail_block a {
        text-decoration: none;
        border-bottom: 1px dotted #e1bb81;
        line-height: 16px;
        color: #e1bb81;
        display: inline-block; }
        /* line 412, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .second_infoBlock .mail_block a:hover {
          border: none; }
    /* line 417, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .second_infoBlock .callback {
      margin-top: 35px; }
  /* line 421, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .pre_footer .centerWrap .theEnd_block {
    width: 570px; }
    /* line 423, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .theEnd_block .spoilers {
      border: none;
      border-radius: none; }
      /* line 426, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .theEnd_block .spoilers .spoller_container2 {
        padding: 0 !important; }
        /* line 428, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .theEnd_block .spoilers .spoller_container2 + .spoller_container2 {
          border: none; }
        /* line 431, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .theEnd_block .spoilers .spoller_container2 .spoller2 {
          margin: -10px 0 25px !important; }
    /* line 437, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .theEnd_block .spoller_handler2 {
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px dotted #fff;
      line-height: 19px;
      display: inline-block;
      margin-bottom: 21px; }
      /* line 445, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .theEnd_block .spoller_handler2:before {
        display: none; }
      /* line 448, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .theEnd_block .spoller_handler2:hover {
        border-color: transparent; }
    /* line 452, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .theEnd_block > span {
      border-color: transparent; }
    /* line 455, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .pre_footer .centerWrap .theEnd_block .dop_footMenu {
      margin: 10px 0; }
      /* line 457, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .pre_footer .centerWrap .theEnd_block .dop_footMenu > div {
        width: 170px;
        display: inline-block;
        vertical-align: top; }
        /* line 461, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .theEnd_block .dop_footMenu > div + div {
          margin-left: 20px; }
        /* line 464, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .theEnd_block .dop_footMenu > div a, .pre_footer .centerWrap .theEnd_block .dop_footMenu > div span {
          display: block;
          text-decoration: none;
          color: #ffffff; }
          /* line 468, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .pre_footer .centerWrap .theEnd_block .dop_footMenu > div a:hover, .pre_footer .centerWrap .theEnd_block .dop_footMenu > div span:hover {
            text-decoration: underline; }
          /* line 471, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .pre_footer .centerWrap .theEnd_block .dop_footMenu > div a + a, .pre_footer .centerWrap .theEnd_block .dop_footMenu > div span + a {
            margin-top: 19px; }
        /* line 475, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .pre_footer .centerWrap .theEnd_block .dop_footMenu > div span {
          text-decoration: underline; }

/* line 484, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.rewiew {
  width: 280px;
  float: left;
  margin-right: 40px;
  margin-top: 20px; }
  /* line 489, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .rewiew .leftmenu {
    padding: 30px 40px;
    background: #f8f4ed;
    border-top: 3px solid #465baa; }
    /* line 493, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .rewiew .leftmenu .menuTitle {
      color: #333333;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 21px; }
    /* line 500, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .rewiew .leftmenu > div > a, .rewiew .leftmenu > div > span {
      text-transform: uppercase;
      color: #4f64b9;
      margin: 15px 0;
      display: block;
      font-weight: 600; }
    /* line 507, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .rewiew .leftmenu > div > div {
      margin: 25px 0; }
      /* line 510, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .rewiew .leftmenu > div > div > a:hover {
        color: #4f64b9; }
      /* line 514, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .rewiew .leftmenu > div > div > a, .rewiew .leftmenu > div > div > span {
        display: block;
        padding: 0 0 0 20px;
        text-decoration: none;
        color: #333333;
        position: relative; }
        /* line 520, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .rewiew .leftmenu > div > div > a + a, .rewiew .leftmenu > div > div > span + a {
          margin-top: 10px; }
        /* line 523, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .rewiew .leftmenu > div > div > a + span, .rewiew .leftmenu > div > div > span + span {
          margin-top: 10px; }
        /* line 526, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .rewiew .leftmenu > div > div > a:before, .rewiew .leftmenu > div > div > span:before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 10px;
          height: 1px;
          background: #5591ff; }
      /* line 536, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .rewiew .leftmenu > div > div > span {
        color: #fff;
        z-index: 1; }
        /* line 539, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .rewiew .leftmenu > div > div > span:after {
          content: '';
          position: absolute;
          top: -5px;
          left: -20px;
          width: 240px;
          z-index: -1;
          height: 30px;
          border-radius: 15px;
          background: #455caa; }
        /* line 550, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .rewiew .leftmenu > div > div > span:hover {
          text-decoration: none; }

/* line 559, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.rewiew + .seoText {
  overflow: hidden; }

/* line 563, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.ms-pagination {
  text-align: left;
  display: table;
  border-collapse: collapse;
  width: 345px;
  margin: 18px 0; }
  /* line 569, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .ms-pagination .pages {
    position: relative;
    display: inherit; }
    /* line 572, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .ms-pagination .pages.sepWrap {
      width: auto;
      text-align: center; }
    /* line 576, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .ms-pagination .pages > a, .ms-pagination .pages > span {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      color: #333;
      width: 38px;
      text-decoration: none;
      height: 38px;
      line-height: 38px;
      position: relative;
      border: 1px solid #c8c8c8;
      font-size: 14px;
      margin: 0 5px; }
      /* line 577, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .ms-pagination .pages > a:first-child, .ms-pagination .pages > span:first-child {
        margin-left: 0; }
      /* line 592, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .ms-pagination .pages > a > span, .ms-pagination .pages > span > span {
        color: #333; }
    /* line 596, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .ms-pagination .pages > a:hover {
      border: 2px solid #d82839;
      width: 36px;
      height: 36px;
      line-height: 36px; }
    /* line 602, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .ms-pagination .pages > span {
      color: #fff;
      border: 2px solid #d82839;
      background: #d82839;
      width: 36px;
      height: 36px;
      line-height: 36px;
      cursor: default; }
      /* line 610, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .ms-pagination .pages > span.sep {
        background: transparent;
        color: #333;
        border: none; }

/* line 619, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
#map {
  height: 460px;
  margin: 18px 0; }

/* line 624, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.modalTitle {
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background: #394986;
  color: #ffffff;
  padding: 25px 30px 14px;
  border-bottom: 1px solid #fff; }
  /* line 634, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .modalTitle:before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 30px;
    height: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -15px; }

/* line 646, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.modal {
  background: #394986;
  width: 440px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1; }
  /* line 652, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .modal .modalContent {
    padding: 10px 70px 50px;
    width: 300px;
    text-align: center;
    position: relative; }
    /* line 657, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .modal .modalContent form {
      text-align: left;
      margin-top: 25px; }
      /* line 660, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .modal .modalContent form button {
        margin-top: 20px;
        margin: 20px auto 0;
        display: inherit;
        padding: 6px 20px;
        border-radius: 4px;
        color: #fff;
        background: transparent;
        border: 1px solid #fff; }
        /* line 669, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .modal .modalContent form button:hover {
          background: #ffffff;
          color: #333333; }
      /* line 675, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .modal .modalContent form .labelBlock + .labelBlock {
        margin-top: 12px; }
      /* line 678, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .modal .modalContent form .labelBlock span {
        color: #ffffff; }
      /* line 681, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .modal .modalContent form .labelBlock .errorText {
        margin: 4px 0 5px !important; }
      /* line 686, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .modal .modalContent form .buttons_modal a {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        background: #ffffff;
        color: #333333;
        text-decoration: none;
        text-align: center;
        padding: 5px 0; }
        /* line 695, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .modal .modalContent form .buttons_modal a:hover {
          background: #394986;
          cursor: pointer;
          color: #fff; }
        /* line 700, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .modal .modalContent form .buttons_modal a + a {
          margin-left: 16px; }

/* line 709, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
input:not([type="checkbox"]):not([type="radio"]),
textarea {
  display: inline-block;
  vertical-align: top;
  border: solid 1px #7d95e5;
  box-sizing: border-box;
  width: 100%;
  color: #333;
  font-size: 14px;
  padding: 10px 18px; }
  /* line 719, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  input:not([type="checkbox"]):not([type="radio"]).error,
  textarea.error {
    border: solid 1px #ff5858 !important; }

/* line 724, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.errorText {
  font-weight: normal;
  color: #ff5858 !important;
  margin: 4px 0 -15px; }

/* line 730, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
textarea {
  resize: none;
  height: 140px; }

/* line 735, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.price_form {
  padding: 30px 55px 20px 55px;
  border: 1px solid #cbcbcb;
  border-top: 10px solid #c9a066; }
  /* line 739, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .price_form .labelBlock {
    display: inline-block;
    vertical-align: top;
    width: 534px;
    position: relative;
    margin-right: 16px;
    margin-bottom: 19px; }
    /* line 746, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .price_form .labelBlock:nth-child(2n) {
      margin-right: 0; }
    /* line 749, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .price_form .labelBlock > span {
      margin-bottom: 19px !important; }
  /* line 753, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .price_form button {
    border: none;
    color: #fff;
    padding: 10px 43px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    background: #ac8958;
    background: -moz-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: -webkit-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: linear-gradient(to right, #ac8958 0%, #caa166 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 ); }
    /* line 765, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .price_form button:hover {
      background: #c9a066; }

/* line 771, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.labelBlock2 {
  margin-bottom: 20px;
  display: block; }
  /* line 774, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .labelBlock2 > span {
    display: block;
    margin-bottom: 19px;
    font-size: 14px;
    color: #333; }
    /* line 779, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .labelBlock2 > span i {
      font-style: normal;
      color: #ff5858; }

/* line 786, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.labelBlock {
  display: block; }
  /* line 788, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .labelBlock > span {
    margin-bottom: 12px;
    font-size: 14px;
    color: #333; }
    /* line 793, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .labelBlock > span:first-child {
      display: block; }
    /* line 796, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .labelBlock > span i {
      font-style: normal;
      color: #ff5858; }

/* line 803, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.moar {
  margin: 35px 0 10px;
  display: block;
  padding: 8px 9px;
  width: 153px;
  border-radius: 20px;
  color: #333333 !important;
  text-decoration: none;
  border: 2px solid #c9a166;
  text-align: center; }
  /* line 813, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .moar:hover {
    background: #c9a166;
    color: #ffffff !important;
    cursor: pointer; }

/* line 820, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.wrap {
  margin: 18px 0; }
  /* line 822, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .wrap > div {
    display: inline-block;
    vertical-align: top;
    width: 219px;
    padding: 20px 29px;
    border: 1px solid #dbdbdb;
    margin-right: 20px;
    margin-bottom: 20px; }
    /* line 830, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .wrap > div:nth-child(3n) {
      margin-right: 0; }
    /* line 833, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .wrap > div > a, .wrap > div > span {
      display: block;
      font-size: 18px;
      color: #4f64b9;
      min-height: 50px; }
    /* line 840, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .wrap > div .wrapImg {
      height: 150px;
      display: table;
      width: 100%; }
      /* line 844, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .wrap > div .wrapImg > div {
        display: table-cell;
        vertical-align: middle; }
        /* line 847, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .wrap > div .wrapImg > div > img {
          vertical-align: middle; }

/* line 855, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.mainSlider {
  height: 540px;
  position: relative; }
  /* line 859, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .mainSlider .bx-wrapper .bx-viewport {
    border-radius: 0px 0px 10px 10px; }
  /* line 863, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .mainSlider .gl_slide {
    height: 540px;
    position: relative; }
    /* line 866, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .mainSlider .gl_slide > div {
      width: 100%;
      height: 540px;
      position: relative; }
      /* line 870, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .mainSlider .gl_slide > div:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/slider.png) no-repeat;
        width: 810px;
        height: 540px; }
      /* line 880, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .mainSlider .gl_slide > div > div > div {
        display: table-cell;
        vertical-align: top;
        width: 525px;
        height: 540px;
        padding-left: 120px;
        padding-top: 93px; }
        /* line 887, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .mainSlider .gl_slide > div > div > div .okh1 {
          color: #ffffff;
          font-weight: 300;
          line-height: 48px;
          font-size: 48px; }
        /* line 893, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .mainSlider .gl_slide > div > div > div p {
          color: #ffffff;
          margin: 2px 0;
          font-size: 16px;
          font-weight: 300;
          position: relative; }

/* line 907, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.spoilers {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  position: relative; }
  /* line 911, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .spoilers .complite_project {
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 10px;
    width: 260px;
    padding: 10px 40px 60px 40px;
    background: #ecedef;
    z-index: 1;
    overflow: hidden; }
    /* line 921, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .complite_project:before {
      content: '';
      position: absolute;
      bottom: -47px;
      right: -19px;
      background: url(../images/dec.png) no-repeat;
      width: 204px;
      height: 270px;
      z-index: -1; }
    /* line 931, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .complite_project .complite_title {
      margin: 10px 0;
      font-size: 18px;
      color: #333333;
      text-align: center; }
    /* line 937, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .complite_project .compite_cards {
      margin: 18px 0; }
      /* line 939, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .complite_project .compite_cards > div {
        margin-bottom: 14px;
        overflow: hidden;
        background: #ffffff;
        border-radius: 10px; }
        /* line 944, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .spoilers .complite_project .compite_cards > div .card_img {
          width: 260px;
          height: 180px;
          display: table; }
          /* line 948, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .spoilers .complite_project .compite_cards > div .card_img > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border-radius: 10px;
            overflow: hidden; }
            /* line 954, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
            .spoilers .complite_project .compite_cards > div .card_img > div > img {
              vertical-align: middle; }
        /* line 959, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .spoilers .complite_project .compite_cards > div p {
          margin: 15px 20px;
          color: #333333;
          text-align: center; }
  /* line 967, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .spoilers .spoller_container {
    padding: 17px 37px 26px; }
    /* line 970, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .spoller_container.active .spoller_handler {
      border-color: transparent; }
      /* line 973, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .spoller_container.active .spoller_handler:hover:before {
        background: url(../images/str.png) 100% no-repeat; }
      /* line 977, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .spoller_container.active .spoller_handler:before {
        content: '';
        position: absolute;
        top: 10px;
        right: -34px;
        background: url(../images/str.png) 100% no-repeat;
        width: 14px;
        height: 8px; }
    /* line 988, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .spoller_container + .spoller_container {
      border-top: 1px solid #dbdbdb; }
    /* line 991, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .spoller_container .spoller_handler {
      font-size: 24px;
      font-weight: 300;
      color: #333333;
      text-decoration: none;
      border-bottom: 1px dotted #334997;
      position: relative;
      line-height: 24px;
      display: table-cell; }
      /* line 1000, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .spoller_container .spoller_handler:hover {
        border-color: transparent; }
        /* line 1002, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .spoilers .spoller_container .spoller_handler:hover:before {
          content: '';
          position: absolute;
          top: 10px;
          right: -34px;
          background: url(../images/str.png) 100% no-repeat;
          width: 14px;
          height: 8px; }
      /* line 1012, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .spoller_container .spoller_handler:before {
        content: '';
        position: absolute;
        top: 10px;
        right: -34px;
        background: url(../images/str.png) no-repeat;
        width: 14px;
        height: 8px; }
    /* line 1022, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .spoilers .spoller_container .spoller {
      margin: 32px 0 25px; }
      /* line 1024, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .spoilers .spoller_container .spoller .wrap2 {
        width: 750px; }
        /* line 1027, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .spoilers .spoller_container .spoller .wrap2 > div > div {
          display: inline-block;
          vertical-align: top;
          width: 199px;
          margin-right: 38px;
          margin-bottom: 20px; }
          /* line 1033, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .spoilers .spoller_container .spoller .wrap2 > div > div > a {
            color: #4f64b9;
            font-weight: 600;
            text-transform: uppercase; }
          /* line 1038, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .spoilers .spoller_container .spoller .wrap2 > div > div > div {
            margin: 18px 0; }
            /* line 1040, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
            .spoilers .spoller_container .spoller .wrap2 > div > div > div > a, .spoilers .spoller_container .spoller .wrap2 > div > div > div > span {
              padding-left: 20px;
              text-decoration: none;
              color: #333333;
              display: block;
              min-height: 23px;
              position: relative; }
              /* line 1047, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
              .spoilers .spoller_container .spoller .wrap2 > div > div > div > a + a, .spoilers .spoller_container .spoller .wrap2 > div > div > div > span + a {
                margin-top: 7px; }
              /* line 1050, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
              .spoilers .spoller_container .spoller .wrap2 > div > div > div > a + span, .spoilers .spoller_container .spoller .wrap2 > div > div > div > span + span {
                margin-top: 7px; }
              /* line 1053, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
              .spoilers .spoller_container .spoller .wrap2 > div > div > div > a:before, .spoilers .spoller_container .spoller .wrap2 > div > div > div > span:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 1px;
                background: #4f64b9;
                top: 10px;
                left: 2px; }
            /* line 1064, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
            .spoilers .spoller_container .spoller .wrap2 > div > div > div > a:hover {
              color: #4f64b9; }
            /* line 1068, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
            .spoilers .spoller_container .spoller .wrap2 > div > div > div span {
              color: #4f64b9; }

/* line 1082, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.news_company {
  padding: 40px 0px 41px;
  background: #344997;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 11px; }
  /* line 1089, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .news_company:before {
    content: '';
    position: absolute;
    left: -80px;
    bottom: 15px;
    background: url(../images/news_dec1.png) no-repeat;
    width: 505px;
    height: 608px;
    z-index: -1; }
  /* line 1099, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .news_company:after {
    content: '';
    position: absolute;
    right: -62px;
    bottom: -100px;
    background: url(../images/news_dec2.png) no-repeat;
    width: 462px;
    height: 698px;
    z-index: -1; }
  /* line 1111, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .news_company .centerWrap .news_title .okh1 {
    display: inline-block;
    color: #ffffff; }
  /* line 1115, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .news_company .centerWrap .news_title .allnews {
    display: inline-block;
    color: #ffffff;
    padding: 10px 23px;
    border-radius: 20px;
    margin-left: 30px;
    vertical-align: super;
    text-decoration: none;
    background: #ac8958;
    background: -moz-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: -webkit-linear-gradient(left, #ac8958 0%, #caa166 100%);
    background: linear-gradient(to right, #ac8958 0%, #caa166 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 ); }
    /* line 1128, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .news_company .centerWrap .news_title .allnews:hover {
      background: #c9a066; }
  /* line 1133, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .news_company .centerWrap .wrap3 {
    margin: 15px 0 0; }
    /* line 1135, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    .news_company .centerWrap .wrap3 > div {
      display: inline-block;
      vertical-align: top;
      margin-right: 46px;
      width: 550px;
      margin-bottom: 48px; }
      /* line 1141, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .news_company .centerWrap .wrap3 > div:nth-child(2n) {
        margin-right: 0; }
      /* line 1144, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .news_company .centerWrap .wrap3 > div .wrap3Img {
        width: 160px;
        float: left;
        overflow: hidden;
        border-radius: 10px;
        height: 120px;
        margin-right: 38px; }
        /* line 1151, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .news_company .centerWrap .wrap3 > div .wrap3Img > div {
          width: 160px;
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          /* line 1156, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
          .news_company .centerWrap .wrap3 > div .wrap3Img > div > img {
            vertical-align: middle; }
      /* line 1161, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
      .news_company .centerWrap .wrap3 > div .wrap_info {
        overflow: hidden; }
        /* line 1163, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .news_company .centerWrap .wrap3 > div .wrap_info a {
          color: #a5b9ff;
          font-size: 18px;
          line-height: 30px;
          padding-bottom: 6px; }
        /* line 1169, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
        .news_company .centerWrap .wrap3 > div .wrap_info p {
          color: #ffffff;
          margin: 16px 0; }

/* line 1179, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.spoiler_block {
  min-height: 720px; }

/* line 1183, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.centerFix {
  width: 960px; }

/* line 1187, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.hidden_text {
  display: none; }

/* line 1192, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
#bx-pager {
  position: relative;
  bottom: 159px;
  z-index: 1;
  left: 120px; }
  /* line 1197, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  #bx-pager a {
    display: inline-block;
    vertical-align: top;
    width: 88px;
    height: 58px;
    border: 1px solid #5c7ffa;
    overflow: hidden;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5); }
    /* line 1205, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
    #bx-pager a + a {
      margin-left: 27px; }

/* line 1211, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
.w1160 {
  width: 1160px; }

@media (max-width: 1400px) {
  /* line 1216, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .bx-wrapper .bx-prev {
    left: 2% !important; }
  /* line 1219, C:/Users/Romeo/Desktop/work/Проекты/sunwood/css/style.scss */
  .bx-wrapper .bx-next {
    right: 2% !important; } }

/*# sourceMappingURL=style.css.map */