@import "mixins.scss";

html,body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 14px/20px 'Open Sans', sans-serif;
  color: #222222;
  min-width: 1240px;
  background: #ffffff;
}

.rootWrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  header,
  main,
  footer {
    display: table-row;
    height: 1px;
  }
  main {
    height: 100%; 
  }
}

.centerWrap {
  width: 1200px;
  margin: 0 auto;
}

.footerTopMargin {
  height: 40px;
}

.callback{
  width: 230px;
  margin-top: 20px;
  a{
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    background: rgb(172,137,88);
    background: -moz-linear-gradient(left, rgba(172,137,88,1) 0%, rgba(202,161,102,1) 100%);
    background: -webkit-linear-gradient(left, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
    background: linear-gradient(to right, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 );
    &:hover{
      background: #c9a066;
    }
  }
}

.header-middle {
  @include both;
  line-height: 20px;
  height: 120px;
  .centerWrap >div{
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    margin-top: 19px;
    @include box-sizing;
    width: 130px;
     span,a{
        img{
           vertical-align: top;
        }
     }
  }
  .slogan {
    position: relative;
    margin-top: 15px;
    width: 115px;
    margin-left: 17px;
    margin-right: 120px;
    font-style: italic;
    color: #ab8957;
    >span{
      color: #888888;
    }
  }

  .header-phone{
    width: 190px;
    position: relative;
    margin-top: 20px;
    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: -70px;
      background: url(../images/tel.png) no-repeat;
      width: 40px;
      height: 40px;
    }
    a{
      &:hover{
        cursor: default;
      }
      &:first-child{
        font-size: 24px;
      }
      &:last-child{
        border-bottom:1px dotted #ab8957;
        color: #ab8957;
        &:hover{
          border-bottom: none;
          cursor:pointer;
        }
      }
      text-decoration: none;
      color: #333333;
      >span{
        color: #ab8957;
      }
    }
  }

  .callback{
    margin: 15px 32px 0 26px;
  }

  .addr {
    margin-top: 13px;
    width: 324px;
    div{
      display: inline-block;
      vertical-align: middle;
      &:first-child{
        width: 75px;
        margin-right: 5px;
      }
      &.citys{
        width: 240px;
        overflow: hidden;
        a,span{
          display: inline-block;
          color: #ab8957;
          text-decoration: none;
          border-bottom:1px dotted #ab8957;
          margin-right: 20px;
          position: relative;
          line-height: 15px;
          &:hover{
            border:none;
          }
          &:last-child{
            margin-right: 0;
          }
          &:before{
            content: '';
            position: absolute;
            top: 6px;
            left: -15px;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: #ab8957;
          }
        }
        span{
           border-bottom:1px dotted transparent;
        }
      }
    }
  }
}

.header-bottom {
  background: #394986;
  border-radius: 8px 8px 0 0;
}

.main-menu {
  >span{
    display: inline-block;
    width: 2px;
    margin: 0 24px;
    position: relative;
    >span{
      width: 1px;
      display: table-cell;
      background: #5c7ffa;
      height: 10px;
      left: 0;
      top: 24px;
      position: relative;
    }
  }
  >div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    >a,>span {
      color: #ffffff;
      font-size: 14px;
      text-decoration: none;
      padding: 25px 0;
      display: block;
    }
    >span{
      color: #ab8957;
    }
    .submenu{
      width: 250px;
      display: none;
      background: #ffffff;
      position: absolute;
      z-index: 2;
      text-align: left;
      line-height: 18px;
      border-radius: 10px;
      padding: 10px 0;
      &:before{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent; 
          border-bottom: 8px solid #fff;
          top: -8px;
          left: 16px;
      }
      >div{
        padding: 10px 25px;
        border-bottom: 1px solid #d6d6d6;
        &:last-child{
          border-bottom: none;
        }
        >a,span{
          font-size: 14px;
          color: #333;
          display: block;
          text-decoration: none;
          &:hover{
            color: #3e5296;
          }
        }
        span{
          color: #3e5296;
        }
      }
    }
    &:hover{
      >a{
        color: #90a2e5;
      }
      .submenu{
        display: block;
      }
    }
  }
}

.breadcrumbs{
  nav{
    >div{
      display: inline-block;
      vertical-align: top;
      padding: 5px 0;
      position: relative;
      +div{
        margin-left: 19px;
        &:before{
          content:'';
          position: absolute;
          top: 12px;
          background: url(../images/breadcrumb.png) no-repeat;
          width: 6px;
          height: 6px;
          left: -15px;
        }
      }
      a{
        color: #ab8957;
        font-style: italic;
      }
      span{
        font-style: italic;
        color: #888888;
      }
    }
  }
}

.seoText{
  padding: 30px 0 40px;
  a{
    color: #465caa;
  }
}

.footer{
  padding: 19px 0;
  display: flex;
  background: #5e5344;
  .copy{
    float:left;
    color: #fff;
    >span{
      color:#b18e5a;
    }
  }
  .company{
    float:right;
    color: #ffffff;
  }
}

.pre_footer{
  padding: 52px 0 40px;
  background: #7a6a54;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before{
    content:'';
    position: absolute;
    left: -55px;
    top: 30px;
    background: url(../images/footer_decore.png) no-repeat;
    width: 339px;
    height: 401px;
    z-index: -1;
  }
  .centerWrap{
    >div{
      display: inline-block;
      vertical-align: top;
    }
    .first_leftMenu{
      width: 220px;
      margin-right: 36px;
      a,span{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        &:hover{
          text-decoration: underline;
        }
      }
      span{
        text-decoration: underline;
        
      }
    }
    .second_infoBlock{
      width: 285px;
      margin-right: 50px;
      .number{
        padding: 7px 40px 15px 58px;
        a{
          text-decoration: none;
          color: #ffffff;
          font-size: 24px;
          position: relative;
          &:hover{
            cursor: default;
          }
          &:before{
            content:'';
            position: absolute;
            top: -4px;
            left: -58px;
            background: url(../images/footer_phone.png) no-repeat;
            width: 40px;
            height: 40px;
          }
        }
      }
      .city{
        margin: 10px 0 16px;
        table{
          width: 100%;
          tr{
            td{
              color: #ffffff;
              padding: 5px 0;
              &:first-child{
                text-align: left;
              }
              &:last-child{
                text-align: right;
              }
            }
          }
        }
      }
      .mail_block{
        margin: 10px 0 15px;
        a{
          text-decoration: none;
          border-bottom: 1px dotted #e1bb81;
          line-height: 16px;
          color: #e1bb81;
          display: inline-block;
          &:hover{
            border:none;
          }
        }
      }
      .callback{
        margin-top: 35px;
      }
    }
    .theEnd_block{
      width: 570px;
       .spoilers{
          border:none;
          border-radius: none;
          .spoller_container2{
             padding: 0 !important;
             +.spoller_container2{ 
                 border:none;  
             }
             .spoller2{
                    margin: -10px 0 25px !important;
             }
          }
       }
       
      .spoller_handler2{
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
        border-bottom:1px dotted #fff;
        line-height: 19px;
        display: inline-block;
        margin-bottom: 21px;
         &:before{
            display: none;
         }
        &:hover{
          border-color:transparent;
        }
      }
      >span{
         border-color:transparent;
      }
      .dop_footMenu{
        margin: 10px 0;
        >div{
          width: 170px;
          display: inline-block;
          vertical-align: top;
          +div{
            margin-left: 20px;
          }
          a,span{
            display: block;
            text-decoration: none;
            color: #ffffff;
            &:hover{
              text-decoration: underline;
            }
            +a{
              margin-top: 19px;
            }
          }
          span{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.rewiew{
  width: 280px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  .leftmenu{
    padding: 30px 40px;
    background: #f8f4ed;
    border-top:3px solid #465baa;
    .menuTitle{
      color: #333333;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 21px;
    }
    >div{
      >a,>span{
        text-transform: uppercase;
        color: #4f64b9;
        margin: 15px 0;
        display: block;
        font-weight: 600;
      }
      >div{
        margin: 25px 0;
        >a{
          &:hover{
            color: #4f64b9;
          }
        }
        >a,>span{
          display: block;
          padding: 0 0 0 20px;
          text-decoration: none;
          color: #333333;
          position: relative;
          +a{
            margin-top: 10px;
          }
          +span{
            margin-top: 10px;
          }
          &:before{
            content:'';
            position: absolute;
            top: 10px;
            left: 0;
            width: 10px;
            height: 1px;
            background: #5591ff;
          }
        }
        >span{
          color: #fff;
          z-index: 1;
          &:after{
            content: '';
            position: absolute;
            top: -5px;
            left: -20px;
            width: 240px;
            z-index: -1;
            height: 30px;
            border-radius: 15px;
            background: #455caa;
          }
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.rewiew+.seoText{
  overflow: hidden;
}

.ms-pagination{
  text-align: left;
  display: table;
  border-collapse: collapse;
  width: 345px;
  margin: 18px 0;
  .pages{
    position: relative;
    display: inherit;
    &.sepWrap{
      width: auto;
      text-align: center;
    }
    >a,>span{
      &:first-child{
        margin-left: 0;
      }
      display: inline-block;
      vertical-align: top;
      text-align: center;
      color: #333;
      width: 38px;
      text-decoration: none;
      height: 38px;
      line-height: 38px;
      position: relative;
      border:1px solid #c8c8c8;
      font-size: 14px;
      margin: 0 5px;
      >span{
        color:#333;
      }
    }
    >a:hover{
      border:2px solid #d82839;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
    >span{
      color: #fff;
      border:2px solid #d82839;
      background: #d82839;
      width: 36px;
      height: 36px;
      line-height: 36px;
      cursor: default;
      &.sep{
        background: transparent;
        color:#333;
        border:none;
      }
    }
  }
}

#map{
  height: 460px;
  margin: 18px 0;
}

.modalTitle {
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background: #394986;
  color: #ffffff;
  padding: 25px 30px 14px;
  border-bottom:1px solid #fff;
  &:before{
    content:'';
    position: absolute;
    bottom: -3px;
    width: 30px;
    height: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -15px;
  }
}

.modal {
  background: #394986;
  width: 440px;
  @include box-sizing;
  position: relative;
  z-index: 1;
  .modalContent {
    padding: 10px 70px 50px;
    width: 300px;
    text-align: center;
    position: relative;
    form{
      text-align: left;
      margin-top: 25px;
      button{
        margin-top: 20px;
        margin: 20px auto 0;
        display: inherit;
        padding: 6px 20px;
        border-radius: 4px;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        &:hover{
          background: #ffffff;
          color: #333333;
        }
      }
      .labelBlock{
        +.labelBlock{
          margin-top: 12px; 
        }
        span{
          color: #ffffff;
        }
        .errorText{
          margin: 4px 0 5px !important;
        }
      }
      .buttons_modal{
        a{
          display: inline-block;
          vertical-align: top;
          width: 140px;
          background: #ffffff;
          color: #333333;
          text-decoration: none;
          text-align: center;
          padding: 5px 0;
          &:hover{
            background: #394986;
            cursor: pointer;
            color: #fff;
          }
          +a{
            margin-left: 16px;
          }
        }
      }
    }
  }
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  display: inline-block;
  vertical-align: top;
  border:solid 1px #7d95e5;
  box-sizing: border-box;
  width: 100%;
  color: #333;
  font-size: 14px;
  padding: 10px 18px;
  &.error {
    border:solid 1px #ff5858 !important;
  }
}

.errorText {
  font-weight: normal;
  color: #ff5858 !important;
  margin: 4px 0 -15px ;
}

textarea {
  resize: none;
  height: 140px;
}

.price_form{
  padding: 30px 55px 20px 55px;
  border:1px solid #cbcbcb;
  border-top:10px solid #c9a066;
  .labelBlock{
    display: inline-block;
    vertical-align: top;
    width: 534px;
    position: relative;
    margin-right: 16px;
    margin-bottom: 19px;
    &:nth-child(2n){
      margin-right: 0;
    }
    >span{
      margin-bottom: 19px !important;
    }
  }
  button{
    border:none;
    color:#fff;
    padding: 10px 43px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    background: rgb(172,137,88);
    background: -moz-linear-gradient(left, rgba(172,137,88,1) 0%, rgba(202,161,102,1) 100%);
    background: -webkit-linear-gradient(left, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
    background: linear-gradient(to right, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 );
    &:hover{
      background: #c9a066;
    }
  }
}

.labelBlock2{
  margin-bottom: 20px;
  display: block;
  >span {
    display: block;
    margin-bottom: 19px;
    font-size: 14px;
    color:#333;
    i {
      font-style: normal;
      color: #ff5858;
    }
  }
}

.labelBlock {
  display: block;
  >span {
   
    margin-bottom: 12px;
    font-size: 14px;
    color:#333;
    &:first-child{
       display: block;
    }
    i {
      font-style: normal;
      color: #ff5858;
    }
  }
}

.moar{
  margin: 35px 0 10px;
  display: block;
  padding: 8px 9px;
  width: 153px;
  border-radius: 20px;
  color: #333333 !important;
  text-decoration: none;
  border: 2px solid #c9a166;
  text-align: center;
  &:hover{
    background: #c9a166;
    color: #ffffff !important;
    cursor: pointer;
  }
}

.wrap{
  margin: 18px 0;
  >div{
    display: inline-block;
    vertical-align: top;
    width: 219px;
    padding: 20px 29px;
    border:1px solid #dbdbdb;
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(3n){
      margin-right: 0;
    }
    >a,>span{
      display: block;
      font-size: 18px;
      color: #4f64b9;
      min-height: 50px;

    }
    .wrapImg{
      height: 150px;
      display: table;
      width: 100%;
      >div{
        display: table-cell;
        vertical-align: middle;
        >img{
          vertical-align: middle;
        }
      }
    }
  }
}

.mainSlider{
  height: 540px;
  position: relative;
  .bx-wrapper{
    .bx-viewport{
          border-radius: 0px 0px 10px 10px; 
    }
  }
  .gl_slide{
    height: 540px;
    position: relative;
    >div{
      width: 100%;
      height: 540px;
      position: relative;
       &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/slider.png) no-repeat;
        width: 810px;
        height: 540px;
      }
      >div{
        >div{
          display: table-cell;
          vertical-align: top;
          width: 525px;
          height: 540px;
          padding-left: 120px;
          padding-top: 93px;
          .okh1{
            color: #ffffff;
            font-weight: 300;
            line-height: 48px;
            font-size: 48px;
          }
          p{
            color: #ffffff;
            margin: 2px 0;
            font-size: 16px;
            font-weight: 300;
            position: relative;
          }
        }

      }
    }
  }
}

.spoilers{
  border:1px solid #dbdbdb;
  border-radius: 10px;
  position: relative;
  .complite_project{
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 10px;
    width: 260px;
    padding: 10px 40px 60px 40px;
    background: #ecedef;
    z-index: 1;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      bottom: -47px;
      right: -19px;
      background: url(../images/dec.png) no-repeat;
      width: 204px;
      height: 270px;
      z-index: -1;
    }
    .complite_title{
      margin: 10px 0;
      font-size: 18px;
      color: #333333;
      text-align: center;
    }
    .compite_cards{
      margin: 18px 0;
      >div{
        margin-bottom: 14px;
        overflow: hidden;
        background: #ffffff;
        border-radius: 10px;
        .card_img{
          width: 260px;
          height: 180px;
          display: table;
          >div{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            >img{
              vertical-align: middle;
            }
          }
        }
        p{
          margin: 15px 20px;
          color: #333333;
          text-align: center;
        }
      }
    }
  }
  .spoller_container{
    padding: 17px 37px 26px;
    &.active{
      .spoller_handler{
        border-color:transparent;
        &:hover{
          &:before{
            background: url(../images/str.png) 100% no-repeat;
          }
        }
        &:before{
          content: '';
          position: absolute;
          top: 10px;
          right: -34px;
          background: url(../images/str.png) 100% no-repeat;
          width: 14px;
          height: 8px;
        }
      }
    }
    +.spoller_container{
      border-top:1px solid #dbdbdb;
    }
    .spoller_handler{
      font-size: 24px;
      font-weight: 300;
      color: #333333;
      text-decoration: none;
      border-bottom:1px dotted #334997;
      position: relative;
      line-height: 24px;
      display: table-cell;
      &:hover{
        border-color:transparent;
        &:before{
          content: '';
          position: absolute;
          top: 10px;
          right: -34px;
          background: url(../images/str.png) 100% no-repeat;
          width: 14px;
          height: 8px;
        }
      }
      &:before{
        content: '';
        position: absolute;
        top: 10px;
        right: -34px;
        background: url(../images/str.png) no-repeat;
        width: 14px;
        height: 8px;
      }
    }
    .spoller{
      margin: 32px 0 25px;
      .wrap2{
        width: 750px;
        >div{
          >div{
            display: inline-block;
            vertical-align: top;
            width: 199px;
            margin-right: 38px;
            margin-bottom: 20px;
            >a{
              color: #4f64b9;
              font-weight: 600;
              text-transform: uppercase;
            }
            >div{
              margin: 18px 0;
              >a,>span{
                padding-left: 20px;
                text-decoration: none;
                color: #333333;
                display: block;
                min-height: 23px;
                position: relative;
                +a{
                  margin-top: 7px;
                }
                +span{
                  margin-top: 7px;
                }
                &:before{
                  content: '';
                  position: absolute;
                  width: 10px;
                  height: 1px;
                  background: #4f64b9;
                  top: 10px;
                  left: 2px;
                }
              }
              >a{
                &:hover{
                  color: #4f64b9;
                }
              }
              span{
                color: #4f64b9;
              }
            }
            &:nth-child(3n){

            }
          }
        }
      }
    }
  }
}

.news_company{
  padding: 40px 0px 41px;
  background: #344997;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 11px;
  &:before{
    content: '';
    position: absolute;
    left: -80px;
    bottom: 15px;
    background: url(../images/news_dec1.png) no-repeat;
    width: 505px;
    height: 608px;
    z-index: -1;
  }
  &:after{
    content: '';
    position: absolute;
    right: -62px;
    bottom: -100px;
    background: url(../images/news_dec2.png) no-repeat;
    width: 462px;
    height: 698px;
    z-index: -1;
  }
  .centerWrap{
    .news_title{
      .okh1{
        display: inline-block;
        color: #ffffff;
      }
      .allnews{
        display: inline-block;
        color: #ffffff;
        padding: 10px 23px;
        border-radius: 20px;
        margin-left: 30px;
        vertical-align: super;
        text-decoration: none;
        background: rgb(172,137,88);
        background: -moz-linear-gradient(left, rgba(172,137,88,1) 0%, rgba(202,161,102,1) 100%);
        background: -webkit-linear-gradient(left, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
        background: linear-gradient(to right, rgba(172,137,88,1) 0%,rgba(202,161,102,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8958', endColorstr='#caa166',GradientType=1 );
        &:hover{
          background: #c9a066;
        }
      }
    }
    .wrap3{
      margin: 15px 0 0;
      >div{
        display: inline-block;
        vertical-align: top;
        margin-right: 46px;
        width: 550px;
        margin-bottom: 48px;
        &:nth-child(2n){
          margin-right: 0;
        }
        .wrap3Img{
          width: 160px;
          float: left;
          overflow: hidden;
          border-radius: 10px;
          height: 120px;
          margin-right: 38px;
          >div{
            width: 160px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            >img{
              vertical-align: middle;
            }
          }
        }
        .wrap_info{
          overflow: hidden;
          a{
            color: #a5b9ff;
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 6px;
          }
          p{
            color: #ffffff;
            margin: 16px 0;
          }
        }
      }
    }
  }
}

.spoiler_block{
  min-height: 720px;
}

.centerFix{
  width: 960px;
}

.hidden_text{
  display: none; 
}


#bx-pager{
   position: relative;
    bottom: 159px;
    z-index: 1;
    left: 120px;
  a{
    display: inline-block;
    vertical-align: top;
    width: 88px;
    height: 58px;
    border:1px solid #5c7ffa;
    overflow: hidden;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
    +a{
      margin-left: 27px;
    }
  }
}

.w1160{
 width: 1160px; 
}

@media (max-width:1400px){
  .bx-wrapper .bx-prev{
    left: 2% !important;
  }
  .bx-wrapper .bx-next{
    right: 2% !important;
  }
}