/* line 3, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
p {
  margin: 0 0 11px;
  line-height: 20px; }

/* line 8, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
a {
  color: #ac8957; }

/* line 12, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 38px;
  position: relative;
  margin: 0; }

/* line 22, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
.breadcrumbs + h1 {
  padding: 6px 0 25px; }

/* line 27, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
.okh1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  padding: 14px 0 30px;
  position: relative;
  margin: 0; }

/* line 36, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 300; }

/* line 42, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
h3 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 0; }

/* line 49, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 18px 0; }

/* line 56, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
blockquote {
  margin: 30px 0;
  padding: 20px 40px 20px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  text-align: center; }
  /* line 62, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  blockquote p {
    margin: 0;
    font-style: italic;
    font-size: 17px; }
  /* line 67, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  blockquote:after {
    position: absolute;
    content: ''; }

/* line 74, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
ul {
  margin: 20px 0; }
  /* line 76, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  ul li {
    overflow: hidden;
    position: relative;
    padding-left: 25px; }
    /* line 80, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    ul li + li {
      margin-top: 10px; }
    /* line 83, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    ul li:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 5px;
      left: 0px;
      top: 6px;
      background: #4366ab; }

/* line 96, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
ol {
  list-style-image: none;
  list-style-type: none;
  margin: 30px 0;
  counter-reset: item; }
  /* line 101, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  ol > li {
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 30px; }
    /* line 106, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    ol > li + li {
      margin-top: 6px; }
    /* line 109, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    ol > li:before {
      content: counters(item, "") ". ";
      counter-increment: item;
      position: absolute;
      font-style: normal;
      top: 0;
      font-weight: bold;
      color: #4366ab;
      left: 0px;
      width: 30px; }

/* line 124, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
.table {
  margin: 30px 0;
  width: 100%; }
  /* line 127, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  .table p {
    margin: 0; }
  /* line 130, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  .table th {
    text-align: left;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom: 3px solid #455caa;
    border-right: 1px solid #dddddd; }
    /* line 136, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    .table th:first-child {
      border-left: 1px solid #dddddd; }
    /* line 139, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    .table th:last-child {
      border-right: 1px solid #dddddd; }
  /* line 143, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  .table td {
    padding: 10px 20px;
    color: #333;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
    /* line 148, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    .table td:first-child {
      border-left: 1px solid #dddddd; }
    /* line 151, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    .table td:last-child {
      border-right: 1px solid #dddddd; }

/* line 157, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
table {
  margin: 30px 0;
  width: 100%; }
  /* line 160, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  table p {
    margin: 0; }
  /* line 163, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  table th {
    text-align: left;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom: 3px solid #455caa;
    border-right: 1px solid #dddddd; }
    /* line 169, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    table th:first-child {
      border-left: 1px solid #dddddd; }
    /* line 172, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    table th:last-child {
      border-right: 1px solid #dddddd; }
  /* line 176, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
  table td {
    padding: 10px 20px;
    color: #333;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
    /* line 181, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    table td:first-child {
      border-left: 1px solid #dddddd; }
    /* line 184, C:/Users/Romeo/Desktop/projects/sunwood.local/sanvut/www/DESIGN/SITE/CSS/content.scss */
    table td:last-child {
      border-right: 1px solid #dddddd; }

/*# sourceMappingURL=content.css.map */