.price_form .labelBlock {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 18px;
  margin-bottom: -18px;
}

.errormsg {
  font-weight: normal;
  color: #ff5858 !important;
  margin: 4px 0 -15px ;
}

.grid .x1 {
  width: 100%;
}

.t1 .img {
  float: left;
  margin: 0 20px 10px 0;
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.wrap > div {
  display: inline-block;
  vertical-align: top;
  width: 219px;
  padding: 20px 29px;
  border: 1px solid #dbdbdb;
  margin-right: 17px;
  margin-bottom: 20px;
}

.series
{
  font-size:14px;
  font-style:italic;
  color:#767676;
  padding:23px 0px 6px 0px;
}
.series .s
{
  color:#0970d9;
  padding:1px 2px;
}
.series .s span
{
  border-bottom:1px dotted #0970d9;
}

.series .act, .series .s:hover
{
  color:#0e0f10;
  background:#f4f1f1;
  cursor:pointer;
  font-weight:bold;
}
.series .s:hover span, .series .act span
{
  border:none;
}

.list_in {
  display: inline-flex;
}

.list_in div {
  margin-right: 5px;
}

.modal .modalContent form .labelBlock span {
  margin-top: 30px;
}

.no-link {
  color:#0e0f10 !important;
  text-decoration: none;
}

.hidden-text {
  height: 90px;
  overflow: hidden;
}

.thanks-title {
  text-align: center;
}

.item-left-colon {
  width: 350px;
  height: auto;
  float: left;
  padding: auto;
}

.item-left-colon div {
  margin-left: 3%;
  padding: 10px;
}

.item-right-colon {
  width: auto;
  height: auto;
  margin-left: 360px;
}