html, body
{
	font:13px/20px arial;
	color:#505050;
}


img
{
	border:0px;
	margin:0px;
	padding:0px;
}


form, ul, ol
{
	margin:0px;
	padding:0px;
}


ul, ol
{
	list-style-type:none;
}


a
{
	color:#0078c9;
}
	a:hover
	{
		text-decoration:none;
	}


h1, h2, h3, h4
{
	color:#0078c9;
	font-size:26px;
	font-weight:400;
	margin:0px;
}

h2
{
	font-size:24px;
}

h3
{
	font-size:22px;
}

h4
{
	font-size:20px;
}



table
{
	margin:20px 0px;
	border-collapse:collapse;
}

.table td, .table th
{
	background:#f4f1f1;
	padding:5px 15px;
	text-align:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

.table th
{
	background:#b9e9f0;
}

li
{
	padding:10px 0px;
}

ol
{
	counter-reset:list1;
	margin:10px 0px;
}
	ol li
	{
		position:relative;
		padding-left:21px;
	}
		ol li:before
		{
			counter-increment:list1;
			content:counter( list1 ) " )";
			position:absolute;
			color:#0078c9;
			width:21px;
			left:0px;
			top:10px;
		}

ul
{
	margin:5px 0px;
}
	ul li
	{
		background:url( /DESIGN/SITE/images/marker1.png ) no-repeat 12px 17px;
		padding-left:31px;
	}

blockquote
{
	margin:20px 0px;
	background:#f4f1f1 url( /DESIGN/SITE/images/blockquote.png ) no-repeat 10px 10px;
	font-style:italic;
	padding:15px 10px 10px 60px;
}
	blockquote p
	{
		margin:0px;
		background:url( /DESIGN/SITE/images/blockquote_.png ) no-repeat 100% 100%;
		padding:0px 50px 5px 0px;
	}
	
	
	
	
.date
{
	color:#c9c9c9;
	font-size:11px;
}

.foto
{
	width:340px;
	margin:4px 7px;
}