/************************************************************************************************************
*	DHTML modal dialog box	(CSS for the DHTMLSuite_modalMessage class)
*
*	Created:						August, 26th, 2006
*	@class Purpose of class:		Display a modal dialog box on the screen.
*			
*	Css files used by this script:	modal-message.css
*
* 	Update log:
*
************************************************************************************************************/

.DHTMLSuite_modalDialog_transparentDivs{	
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	-moz-opacity:0.4;	/* Transparency */
	background-color:#666;
	z-index:1;
	position:absolute; /* Always needed	*/
	z-index:7000;
}
.DHTMLSuite_modalDialog_contentDiv{
	border:3px solid #000;	
	padding:0px;
	z-index:7002;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	/*background-color:#FFF;	/* White background color for the message */
	background: #fff url(/DESIGN/ADMIN/images/dialog_bg.gif) no-repeat right 20px;
}

.DHTMLSuite_modalDialog_contentDiv h3{
	font: 18px Tahoma;
	margin: 10px 10px 20px 10px;
}
.DHTMLSuite_modalDialog_contentDiv_shadow{
	z-index:7001;/* Always needed	- to make it appear below the message */
	position:absolute;	/* Always needed	*/
	background-color:#555;
	filter:alpha(opacity=30);	/* Transparency */
	opacity:0.3;	/* Transparency */	
	-moz-opacity:0.3;/* Transparency */
}