/************************************************************************************************************
*	Tab view class	(CSS for the DHTMLSuite_tabView class)
*
*	Created:			August, 21st, 2006
*	Purpose of class:	Tab view class - transfors plain HTML into tabable layers.
*
*
* 	Update log:
*
************************************************************************************************************/
/* The tab widget */
.DHTMLSuite_tabWidget{
	margin-bottom:0px;	/* A little space below the tab pane */
	vertical-align: top;
	height: 100%;
}

.DHTMLSuite_tabContainer{
	height:27px;	/* Height of tabs */
	border-bottom:1px solid #919b9c;
}
.DHTMLSuite_aTab{
	border-left:1px solid #919b9c;
	border-right:1px solid #919b9c;
	border-bottom:1px solid #919b9c;
	font-family: Tahoma;
	padding:5px;	
	background-color:#e5e7e7;	
	text-align: left;
}
.DHTMLSuite_tabContainer DIV{
	float:left;
	height:100%;	/* Height of tabs */
	padding-left:3px;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:bottom left;
	cursor:pointer;
	position:relative;
	bottom:-1px;
	margin-left:0px;
	margin-right:0px;
	
}
.DHTMLSuite_tabContainer .tabActive{
	margin-left:0px;
	margin-right:0px;	
	z-index:10;	
	font: bold 11px Tahoma;
	color: #363631;
	
}
.DHTMLSuite_tabContainer .tabInactive{
	margin-left:0px;
	margin-right:0px;
	z-index:1;
	font: bold 11px Tahoma;
	color: #fff;
}

.DHTMLSuite_tabContainer .inactiveTabOver{
	margin-left:0px;
	margin-right:0px;
}
.DHTMLSuite_tabContainer span{
	font-family:Tahoma;
	vertical-align:top;
	font-size:11px;
	padding-left:0px;
	padding-right:0px;		
	line-height:27px;
	float:left;
}
.DHTMLSuite_tabContainer .tabActive span{
	padding-bottom:1px;
	line-height:26px;
}

.DHTMLSuite_tabContainer img{
	float:left;
}